<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Michael">

    <title>Michael Li</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Personal CSS-->
    <link href="css/index.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:200' rel='stylesheet' type='text/css'>

    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="js/app.js"></script>

</head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="http://blog.limichael.com">Blog</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="projects">Projects</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        
        <!-- Intro Header -->
        <div class="outside">
            <div class="content">
                <div class="container shading col-md-6 col-md-offset-3">
                    <h1 class="name-heading">Welcome! I'm Michael Li</h1>
                    </br>
                    <h4>I'm a senior studying CS at <a href="https://cs.utexas.edu">UT Austin</a>. I'm interested in NLP and Computer Vision</h4>
                    </br>
                    <h4>Previously worked at <a href="https://airbnb.com">Airbnb</a>, <a href="https://microsoft.com">Microsoft</a>, <a href="https://indeed.com">Indeed</a>, and <a href="https://www.mdanderson.org">MD Anderson</a></h4>
                    </br>
                    </br>
                    </br>
                    </br>
                    <h2>
                        <a id="email">Email</a> |
                        <a href="https://www.github.com/mykobob" target="_blank">Github</a> |
                        <a href="http://www.cs.utexas.edu/~mli/resume.pdf" target="_blank">Resume</a> |
                        <a href="https://www.linkedin.com/in/michaelli1" target="_blank">LinkedIn</a>
                    </h2>
                </div>
            </div>
        </div>
    </body>

    
</html>
