#projects {
	margin: auto;
	width: 650px;
}

.project-div {
	position: relative;
}

.project {
	margin-bottom: 25px;
	width: 100%;
	padding: 0;
	position: relative;
}

.project h2.project-name {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	font-size: 3em;
}

.project .project-description {
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 10px;
}

.project .project-description ul {
	list-style: none;
	padding: 0;
}

img {
    border-radius: 0%;
    max-height: 300px;
    width: 90%;
    max-width: 300px;
    text-align: center;
    border: 2px solid black;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
